---
import Coding from "../icons/Coding.astro"
import Exercise from "../icons/Exercise.astro"
import Language from "../icons/Language.astro"
import Music from "../icons/Music.astro"
import Puzzle from "../icons/Puzzle.astro"
import SocialIcon from "../SocialIcon.astro"

const textContext = Astro.props.textContext;

---
<div class="flex flex-col md:flex-row justify-between" >
  <div class="order-0 self-center w-100 md:w-1/2">
    <h2 id="typewriter" class="text-bold text-3xl">{textContext.Greeting}</h2>
    <p class="text-pretty">
      {textContext.Description}
    </p>
    <div
      class="relative flex flex-col gap-5 overflow-hidden w-full mt-6 md:mt-14 mb-5 md:mb-0">
      <h2 class="text-xl md:text-2xl font-semibold">{textContext.Hobbies}</h2>
      <ul class="relative flex flex-row w-50 justify-between ">
        <li class="size-10"><Music/></li>
        <li class="size-10"><Exercise/></li>
        <li class="size-10"><Puzzle/></li>
        <li class="size-10"><Language/></li>
        <li class="size-10"><Coding/></li>
      </ul>
    </div>
  </div>
  <div class="order-1 w-25 flex flex-col justify-center overflow-hidden px-4" >
    <div
      class="relative flex flex-col gap-2 md:gap-0 md:flex-row "
    >
      <img
        src="assets/images/yo.webp"
        alt="David Yanez"
        width="300px"
        height="300px"
        class="rounded-full self-center size-80"
      
      />
      <div class="flex flew-row md:flex-col justify-center gap-5">
        <SocialIcon class="size-5" src="assets/icons/linkedin.svg" location="top-[-14px] md:left-[-6px] md:top-0" href="https://www.linkedin.com/in/david-yanez-lop/"/>
        <SocialIcon class="size-5" src="assets/icons/gmail.svg" location="top-[-8px] md:top-0" href="mailto:francisdaylol@gmail.com"/>
        <SocialIcon class="size-5" src="assets/icons/github.svg" location="top-[-14px] md:left-[-6px] md:top-0" href="https://github.com/francisdayl" requiresFill=true/>
      </div>
    </div>
  </div>
</div>

<style>
  #typewriter::after {
    content: '|';
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const typewriterElement = document.getElementById('typewriter');
    const text = typewriterElement.innerText;
    typewriterElement.innerText = "";
    let index = 0;

    function typeWriter() {
      if (index < text.length) {
        typewriterElement.innerHTML += text.charAt(index);
        index++;
        setTimeout(typeWriter, 125);
      }
    }

    typeWriter();
  });
</script>