---
import IconSkill from "../IconSkill.astro";
---

<h2 class="text-3xl font-semibold">Habilidades</h2>

<table class="w-full mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mt-10">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Tipo
            </th>
            <th scope="col" class="px-6 py-3 text-center">
                Herramientas
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Languages
            </th>
            <td class="px-6 py-4 flex gap-6 justify-start">
                <IconSkill src='assets/icons/python.svg' title='Python' description='Python' width='40px' height='40px' />
                <IconSkill src='assets/icons/javascript.svg' title='Javascript' description='Javascript' width='40px' height='40px' />
                <IconSkill src='assets/icons/typescript.svg' title='Typescript' description='Typescript' width='40px' height='40px' />
                <IconSkill src='assets/icons/dart.svg' title='Dart' description='Dart' width='40px' height='40px' />
                <IconSkill src='assets/icons/java.svg' title='Java' description='Java' width='40px' height='40px' />
    
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Front-End
            </th>
            <td class="px-6 py-4 flex gap-6 justify-start">
                <IconSkill src='assets/icons/angular.svg' title='Angular' description='Angular' width='40px' height='40px' />
                <IconSkill src='assets/icons/react.svg' title='React' description='React' width='40px' height='40px' />
                
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Back-End
            </th>
            <td class="px-6 py-4">
                XDDDD
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Database
            </th>
            <td class="px-6 py-4">
                XDD
            </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Deployment
            </th>
            <td class="px-6 py-4">
                XDDD
            </td>
        </tr>
        
    </tbody>
</table>