---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import AboutMe from '../components/sections/AboutMe.astro';
import Experience from '../components/sections/Experience.astro';
import SkillsSection from '../components/sections/Skills.astro';
import Courses from '../components/sections/Courses.astro';
import Project from '../components/Project.astro';
---

<Layout title="David Yánez L.">
    <main class="overflow-x-hidden">
        <SectionContainer id="about-me" data-section="about-me" class="py-16 md:py-36">
            <AboutMe/>
        </SectionContainer>
        <div class="space-y-24"></div>
            <SectionContainer id="experience" data-section="experience">
                <Experience/>
            </SectionContainer>
            <SectionContainer id="skills" data-section="skills">
                <SkillsSection/>
            </SectionContainer>
            <SectionContainer id="courses" data-id="courses">
                <Courses/>
            </SectionContainer>
            <SectionContainer id="projects" data-id="projects">
                <Project/>
            </SectionContainer>
        </div>
    </main>
</Layout>
