<li class="hover:bg-gray-100 dark:hover:bg-[#181820] hover:rounded-lg p-2">
    <picture>
        <source
            srcset="assets/page_icons/music_w.svg"
            media="(prefers-color-scheme: dark)"
        />
        <img
            id="img_music"
            src="assets/page_icons/music_bw.svg"
            alt="musica"
            class="w-8 sm:w-10"
        />
    </picture>
</li>
